# __NASA API Project__

**Author:** Ismail Sulaimon Alamutu  
**Date:** July 13, 2025  
**Project Title:** NASA API Public Data Retrieval and Processing  

---

✅ I registered on the official NASA API portal: [https://api.nasa.gov](https://api.nasa.gov)  
✅ I received and used my personal API key:  
**`0DfxijUOeDUoiWtGLRMH24txGXmLct6XaW6Ov58g`**

✅ This notebook demonstrates:
- Using the APOD (Astronomy Picture of the Day) API
- Using the NeoWs (Near Earth Object) API
- Data extraction, cleaning, and export to CSV

In [12]:
import requests
import pandas as pd
from IPython.display import Image, display

In [13]:
API_KEY = "0DfxijUOeDUoiWtGLRMH24txGXmLct6XaW6Ov58g"

In [14]:
print(" Astronomy Picture of the Day (APOD)\n")

apod_url = f"https://api.nasa.gov/planetary/apod?api_key={API_KEY}"
apod_response = requests.get(apod_url)
apod_data = apod_response.json()

print(f" Date: {apod_data['date']}")
print(f" Title: {apod_data['title']}\n")
print(f" Explanation: {apod_data['explanation'][:500]}...\n")

display(Image(url=apod_data['url']))

print("\n Fetching Asteroid Data from NeoWs API...")

neo_url = f"https://api.nasa.gov/neo/rest/v1/neo/browse?api_key={API_KEY}"
neo_response = requests.get(neo_url)
neo_data = neo_response.json()
asteroids = neo_data['near_earth_objects']

 Astronomy Picture of the Day (APOD)

 Date: 2025-07-13
 Title: Planetary Nebula Mz3: The Ant Nebula

 Explanation: Why isn't this ant a big sphere?  Planetary nebula Mz3 is being cast off by a star similar to our Sun that is, surely, round.  Why then would the gas that is streaming away create an ant-shaped nebula that is distinctly not round?  Clues might include the high 1000-kilometer per second speed of the expelled gas, the light-year long length of the structure, and the magnetism of the star featured here at the nebula's center.  One possible answer is that Mz3 is hiding a second, dimmer star that orb...

 Fetching Asteroid Data from NeoWs API...

In [15]:
asteroid_list = []

for asteroid in asteroids:
    approach_data = asteroid.get('close_approach_data', [])
    velocity = (
        approach_data[0]['relative_velocity']['kilometers_per_second']
        if approach_data else None
    )
    
    asteroid_list.append({
        'Asteroid ID': asteroid['id'],
        'Asteroid Name': asteroid['name'],
        'Min Diameter (km)': asteroid['estimated_diameter']['kilometers']['estimated_diameter_min'],
        'Absolute Magnitude': asteroid['absolute_magnitude_h'],
        'Relative Velocity (km/s)': velocity
    })

df = pd.DataFrame(asteroid_list)
print(" Preview of Cleaned Asteroid Data:")
df.head()

 Preview of Cleaned Asteroid Data:

,Asteroid ID,Asteroid Name,Min Diameter (km),Absolute Magnitude,Relative Velocity (km/s)
0,2000433,433 Eros (A898 PA),22.108281,10.40,5.5786191875
1,2000719,719 Albert (A911 TB),2.025606,15.59,3.446029003
2,2000887,887 Alinda (A918 AA),4.576727,13.82,7.0959736571
3,2001036,1036 Ganymed (A924 UB),38.775283,9.18,6.3038664111
4,2001221,1221 Amor (1932 EA1),0.892391,17.37,10.7701740589

In [16]:
csv_filename = "nasa_asteroids.csv"
df.to_csv(csv_filename, index=False)
print(f"\n Asteroid data has been saved to: {csv_filename}")

 Asteroid data has been saved to: nasa_asteroids.csv