In [24]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [25]:
df = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\Gomycode\STEG_BILLING_HISTORY.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_22212\3209124059.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\Gomycode\STEG_BILLING_HISTORY.csv")

In [26]:
client_0_bills = df.head(3)
print(" First 3 rows:")
print(client_0_bills)

 First 3 rows:
        client_id invoice_date  tarif_type  counter_number counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0              0
1  train_Client_0   2013-03-29          11       1335667.0              0
2  train_Client_0   2015-03-23          11       1335667.0              0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302      14384              4         ELEC
1      12294      13678              4         ELEC
2      14624      14747              4         ELEC

In [27]:
print("\n Type of client_0_bills:", type(client_0_bills))

 Type of client_0_bills: <class 'pandas.core.frame.DataFrame'>

In [28]:
print("\n Dataset Info:")
df.info()

 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      float64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: float64(2), int64(10), object(4)
memory usage: 546.5+ MB

In [29]:
num_rows, num_cols = df.shape
print(f"\n Number of Rows: {num_rows}, Columns: {num_cols}")

 Number of Rows: 4476749, Columns: 16

In [30]:
cat_features = df.select_dtypes(include='object').columns
print("\n Categorical Features:", list(cat_features))
print(" Number of Categorical Features:", len(cat_features))

 Categorical Features: ['client_id', 'invoice_date', 'counter_statue', 'counter_type']
 Number of Categorical Features: 4

In [31]:
memory = df.memory_usage(deep=True).sum() / 1024**2
print(f"\n Memory Usage: {memory:.2f} MB")

 Memory Usage: 1327.65 MB

In [32]:
print("\n Missing Values per Column:")
print(df.isnull().sum())

 Missing Values per Column:
client_id                  0
invoice_date               0
tarif_type                 0
counter_number            48
counter_statue             0
counter_code               0
reading_remarque        4531
counter_coefficient        0
consommation_level_1       0
consommation_level_2       0
consommation_level_3       0
consommation_level_4       0
old_index                  0
new_index                  0
months_number              0
counter_type               0
dtype: int64

In [33]:
for col in df.columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype == 'object':
            df[col] = df[col].fillna(df[col].mode()[0])
        else:
            df[col] = df[col].fillna(df[col].median())

print("\n Missing values handled.")

 Missing values handled.

In [34]:
print("\n Descriptive Stats (Numeric Features):")
print(df.describe())

 Descriptive Stats (Numeric Features):
         tarif_type  counter_number  counter_code  reading_remarque  \
count  4.476749e+06    4.476749e+06  4.476749e+06      4.476749e+06
mean   2.012804e+01    1.230582e+11  1.724884e+02      7.322400e+00
std    1.347256e+01    1.657267e+12  1.338871e+02      1.571212e+00
min    8.000000e+00    0.000000e+00  0.000000e+00      5.000000e+00
25%    1.100000e+01    1.211080e+05  5.000000e+00      6.000000e+00
50%    1.100000e+01    4.945610e+05  2.030000e+02      8.000000e+00
75%    4.000000e+01    1.115161e+06  2.070000e+02      9.000000e+00
max    4.500000e+01    2.798115e+13  6.000000e+02      4.130000e+02

       counter_coefficient  consommation_level_1  consommation_level_2  \
count         4.476749e+06          4.476749e+06          4.476749e+06
mean          1.003040e+00          4.109795e+02          1.093225e+02
std           3.083466e-01          7.573080e+02          1.220123e+03
min           0.000000e+00          0.000000e+00          0.000000e+00
25%           1.000000e+00          7.900000e+01          0.000000e+00
50%           1.000000e+00          2.740000e+02          0.000000e+00
75%           1.000000e+00          6.000000e+02          0.000000e+00
max           5.000000e+01          9.999100e+05          9.990730e+05

       consommation_level_3  consommation_level_4     old_index     new_index  \
count          4.476749e+06          4.476749e+06  4.476749e+06  4.476749e+06
mean           2.030620e+01          5.292588e+01  1.776700e+04  1.834970e+04
std            1.574239e+02          8.754725e+02  4.036693e+04  4.095321e+04
min            0.000000e+00          0.000000e+00  0.000000e+00  0.000000e+00
25%            0.000000e+00          0.000000e+00  1.791000e+03  2.056000e+03
50%            0.000000e+00          0.000000e+00  7.690000e+03  8.192000e+03
75%            0.000000e+00          0.000000e+00  2.166000e+04  2.234300e+04
max            6.449200e+04          5.479460e+05  2.800280e+06  2.870972e+06

       months_number
count   4.476749e+06
mean    4.483095e+01
std     3.128335e+03
min     0.000000e+00
25%     4.000000e+00
50%     4.000000e+00
75%     4.000000e+00
max     6.366240e+05

In [39]:
print("\n Method 1 (Boolean filter):")
client_data_1 = df[df['client_id'] == 'train_Client_0']
print(client_data_1)

 Method 1 (Boolean filter):
         client_id invoice_date  tarif_type  counter_number  counter_code  \
0   train_Client_0   2014-03-24          11       1335667.0           203
1   train_Client_0   2013-03-29          11       1335667.0           203
2   train_Client_0   2015-03-23          11       1335667.0           203
3   train_Client_0   2015-07-13          11       1335667.0           207
4   train_Client_0   2016-11-17          11       1335667.0           207
5   train_Client_0   2017-07-17          11       1335667.0           207
6   train_Client_0   2018-12-07          11       1335667.0           207
7   train_Client_0   2019-03-19          11       1335667.0           207
8   train_Client_0   2011-07-22          11       1335667.0           203
9   train_Client_0   2011-11-22          11       1335667.0           203
10  train_Client_0   2008-11-25          11       1335667.0           203
11  train_Client_0   2012-07-23          11       1335667.0           203
12  train_Client_0   2012-11-29          11       1335667.0           203
13  train_Client_0   2013-07-22          11       1335667.0           203
14  train_Client_0   2014-07-18          11       1335667.0           203
15  train_Client_0   2014-11-24          11       1335667.0           203
16  train_Client_0   2015-11-18          11       1335667.0           207
17  train_Client_0   2012-03-27          11       1335667.0           203
18  train_Client_0   2011-03-30          11       1335667.0           203
19  train_Client_0   2013-02-12          11       1335667.0           203
20  train_Client_0   2010-07-22          11       1335667.0           203
21  train_Client_0   2010-11-24          11       1335667.0           203
22  train_Client_0   2005-10-17          11       1335667.0           203
23  train_Client_0   2006-02-24          11       1335667.0           203
24  train_Client_0   2006-06-23          11       1335667.0           203
25  train_Client_0   2006-10-18          11       1335667.0           203
26  train_Client_0   2007-06-27          11       1335667.0           203
27  train_Client_0   2007-10-25          11       1335667.0           203
28  train_Client_0   2007-02-26          11       1335667.0           203
29  train_Client_0   2008-07-28          11       1335667.0           203
30  train_Client_0   2009-01-04          11       1335667.0           203
31  train_Client_0   2009-07-27          11       1335667.0           203
32  train_Client_0   2009-11-24          11       1335667.0           203
33  train_Client_0   2010-03-29          11       1335667.0           203
34  train_Client_0   2008-01-04          11       1335667.0           203

    reading_remarque  counter_coefficient  consommation_level_1  \
0                8.0                    1                    82
1                6.0                    1                  1200
2                8.0                    1                   123
3                8.0                    1                   102
4                9.0                    1                   572
5                9.0                    1                   314
6                9.0                    1                   541
7                9.0                    1                   585
8                9.0                    1                  1200
9                6.0                    1                  1082
10               6.0                    1                   174
11               6.0                    1                   628
12               6.0                    1                   886
13               8.0                    1                   147
14               8.0                    1                    99
15               8.0                    1                   141
16               9.0                    1                   217
17               8.0                    1                   292
18               6.0                    1                   497
19               8.0                    1                    38
20               6.0                    1                   278
21               6.0                    1                   234
22               6.0                    1                   124
23               6.0                    1                   141
24               6.0                    1                   162
25               6.0                    1                   159
26               6.0                    1                   240
27               6.0                    1                   276
28               6.0                    1                   182
29               6.0                    1                   171
30               6.0                    1                   315
31               6.0                    1                   312
32               6.0                    1                   267
33               6.0                    1                   276
34               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type  counter_type_encoded
0       14302      14384              4         ELEC                     0
1       12294      13678              4         ELEC                     0
2       14624      14747              4         ELEC                     0
3       14747      14849              4         ELEC                     0
4       15066      15638             12         ELEC                     0
5       15638      15952              8         ELEC                     0
6       15952      16493             12         ELEC                     0
7       16493      17078              8         ELEC                     0
8        7770       9156              4         ELEC                     0
9        9156      10238              4         ELEC                     0
10       5417       5591              4         ELEC                     0
11      10780      11408              4         ELEC                     0
12      11408      12294              4         ELEC                     0
13      13983      14130              4         ELEC                     0
14      14384      14483              4         ELEC                     0
15      14483      14624              4         ELEC                     0
16      14849      15066              4         ELEC                     0
17      10488      10780              4         ELEC                     0
18       7273       7770              4         ELEC                     0
19      14264      14302              2         ELEC                     0
20       6761       7039              4         ELEC                     0
21       7039       7273              4         ELEC                     0
22       3685       3809              4         ELEC                     0
23       3809       3950              4         ELEC                     0
24       3950       4112              4         ELEC                     0
25       4112       4271              4         ELEC                     0
26       4453       4693              4         ELEC                     0
27       4693       4969              4         ELEC                     0
28       4271       4453              4         ELEC                     0
29       5246       5417              4         ELEC                     0
30       5591       5906              4         ELEC                     0
31       5906       6218              4         ELEC                     0
32       6218       6485              4         ELEC                     0
33       6485       6761              4         ELEC                     0
34       4969       5246              4         ELEC                     0

In [40]:
print("\n Method 2 (Query):")
client_data_2 = df.query("client_id == 'train_Client_0'")
print(client_data_2)

 Method 2 (Query):
         client_id invoice_date  tarif_type  counter_number  counter_code  \
0   train_Client_0   2014-03-24          11       1335667.0           203
1   train_Client_0   2013-03-29          11       1335667.0           203
2   train_Client_0   2015-03-23          11       1335667.0           203
3   train_Client_0   2015-07-13          11       1335667.0           207
4   train_Client_0   2016-11-17          11       1335667.0           207
5   train_Client_0   2017-07-17          11       1335667.0           207
6   train_Client_0   2018-12-07          11       1335667.0           207
7   train_Client_0   2019-03-19          11       1335667.0           207
8   train_Client_0   2011-07-22          11       1335667.0           203
9   train_Client_0   2011-11-22          11       1335667.0           203
10  train_Client_0   2008-11-25          11       1335667.0           203
11  train_Client_0   2012-07-23          11       1335667.0           203
12  train_Client_0   2012-11-29          11       1335667.0           203
13  train_Client_0   2013-07-22          11       1335667.0           203
14  train_Client_0   2014-07-18          11       1335667.0           203
15  train_Client_0   2014-11-24          11       1335667.0           203
16  train_Client_0   2015-11-18          11       1335667.0           207
17  train_Client_0   2012-03-27          11       1335667.0           203
18  train_Client_0   2011-03-30          11       1335667.0           203
19  train_Client_0   2013-02-12          11       1335667.0           203
20  train_Client_0   2010-07-22          11       1335667.0           203
21  train_Client_0   2010-11-24          11       1335667.0           203
22  train_Client_0   2005-10-17          11       1335667.0           203
23  train_Client_0   2006-02-24          11       1335667.0           203
24  train_Client_0   2006-06-23          11       1335667.0           203
25  train_Client_0   2006-10-18          11       1335667.0           203
26  train_Client_0   2007-06-27          11       1335667.0           203
27  train_Client_0   2007-10-25          11       1335667.0           203
28  train_Client_0   2007-02-26          11       1335667.0           203
29  train_Client_0   2008-07-28          11       1335667.0           203
30  train_Client_0   2009-01-04          11       1335667.0           203
31  train_Client_0   2009-07-27          11       1335667.0           203
32  train_Client_0   2009-11-24          11       1335667.0           203
33  train_Client_0   2010-03-29          11       1335667.0           203
34  train_Client_0   2008-01-04          11       1335667.0           203

    reading_remarque  counter_coefficient  consommation_level_1  \
0                8.0                    1                    82
1                6.0                    1                  1200
2                8.0                    1                   123
3                8.0                    1                   102
4                9.0                    1                   572
5                9.0                    1                   314
6                9.0                    1                   541
7                9.0                    1                   585
8                9.0                    1                  1200
9                6.0                    1                  1082
10               6.0                    1                   174
11               6.0                    1                   628
12               6.0                    1                   886
13               8.0                    1                   147
14               8.0                    1                    99
15               8.0                    1                   141
16               9.0                    1                   217
17               8.0                    1                   292
18               6.0                    1                   497
19               8.0                    1                    38
20               6.0                    1                   278
21               6.0                    1                   234
22               6.0                    1                   124
23               6.0                    1                   141
24               6.0                    1                   162
25               6.0                    1                   159
26               6.0                    1                   240
27               6.0                    1                   276
28               6.0                    1                   182
29               6.0                    1                   171
30               6.0                    1                   315
31               6.0                    1                   312
32               6.0                    1                   267
33               6.0                    1                   276
34               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type  counter_type_encoded
0       14302      14384              4         ELEC                     0
1       12294      13678              4         ELEC                     0
2       14624      14747              4         ELEC                     0
3       14747      14849              4         ELEC                     0
4       15066      15638             12         ELEC                     0
5       15638      15952              8         ELEC                     0
6       15952      16493             12         ELEC                     0
7       16493      17078              8         ELEC                     0
8        7770       9156              4         ELEC                     0
9        9156      10238              4         ELEC                     0
10       5417       5591              4         ELEC                     0
11      10780      11408              4         ELEC                     0
12      11408      12294              4         ELEC                     0
13      13983      14130              4         ELEC                     0
14      14384      14483              4         ELEC                     0
15      14483      14624              4         ELEC                     0
16      14849      15066              4         ELEC                     0
17      10488      10780              4         ELEC                     0
18       7273       7770              4         ELEC                     0
19      14264      14302              2         ELEC                     0
20       6761       7039              4         ELEC                     0
21       7039       7273              4         ELEC                     0
22       3685       3809              4         ELEC                     0
23       3809       3950              4         ELEC                     0
24       3950       4112              4         ELEC                     0
25       4112       4271              4         ELEC                     0
26       4453       4693              4         ELEC                     0
27       4693       4969              4         ELEC                     0
28       4271       4453              4         ELEC                     0
29       5246       5417              4         ELEC                     0
30       5591       5906              4         ELEC                     0
31       5906       6218              4         ELEC                     0
32       6218       6485              4         ELEC                     0
33       6485       6761              4         ELEC                     0
34       4969       5246              4         ELEC                     0

In [36]:
if 'counter_type' in df.columns:
    le = LabelEncoder()
    df['counter_type_encoded'] = le.fit_transform(df['counter_type'])
    print("\n 'counter_type' encoded successfully.")

 'counter_type' encoded successfully.

In [37]:
if 'counter_statue' in df.columns:
    df.drop(columns=['counter_statue'], inplace=True)
    print("\n 'counter_statue' column dropped.")

 'counter_statue' column dropped.

In [38]:
print("\n Preprocessing complete.")

 Preprocessing complete.